// --------------------
// Definition of variables
$primary: #177e89;
$marginBottomNavbar: 20px;
$navbarHeight: 60px;

// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
@import "bootstrap/scss/bootstrap";
// ----------------------------------------

// --------------------
// Style reusable for all components
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

// --------------------
// Style for App component
.App {
  .App-header {
    background-color: $primary;
    padding: 20px;
    color: white;

    a {
      color: white;
      padding: 0 5px;
      text-decoration: unset;
    }

    a.active {
      font-weight: bold;
    }
  }

  .App-title {
    font-size: 1.5em;
  }

  .App-intro {
    font-size: large;
  }
}

.MainNavbar {
  min-height: $navbarHeight;
  margin-bottom: $marginBottomNavbar;
  .logo {
    height: 40px;
    padding-bottom: 4px;
  }
  .navbar-brand {
    padding: 4px 0 0 0;
  }
}

// --------------------
// Style for Home component
.Home {
  p {
    font-size: 1.2em;
  }
}

.Spots {
  margin-top: -$marginBottomNavbar;

  .row {
    height: calc(100vh - #{$navbarHeight});

    .col-text {
      padding: 20px;
      overflow-y: scroll;

      // h2 {
      //   // text-align: center;
      // }

      h4 {
        margin-top: 40px;
      }
    }

    .map {
      height: 100%;
      // height: calc(100vh - #{$navbarHeight});
    }
  }
}

// --------------------
// Style for Secret component
.Secret {
  .result {
    font-size: 1.2em;
    color: $primary;
  }
}

.list-group {
  max-height: 500px;
  margin-bottom: 10px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.tagBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tag {
  border-radius: 10px;
  background-color: $primary;
  margin: 10px 7px 10px 0px;
  padding: 5px 10px;
  color: white;
  font-size: 12px;
}

//trying to implement the side nav bar

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: rgba(255, 255, 255, 0.598); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.nav-item {
  list-style: none;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: $primary;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

#openNavbar {
  position: absolute;

  right: 25px;
  // font-size: 36px;
  margin-left: 50px;
  color: #818181;
  padding-top: 25px;
  font-size: 20px;
}

#openNavbar :hover {
  color: $primary;
}

.getHome {
  position: absolute;

  left: 25px;
  // font-size: 36px;
  margin-left: 50px;
  color: #818181;
  padding-top: 5px;
  font-size: 20px;
}

#more {
  display: none;
}
