// --------------------
// Definition of variables
$primary: #177e89;
$marginBottomNavbar: 20px;
$navbarHeight: 60px;

// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
@import "bootstrap/scss/bootstrap";
// ----------------------------------------

// --------------------
// Style reusable for all components
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

// --------------------
// Style for App component
.App {
  .App-header {
    background-color: $primary;
    padding: 20px;
    color: white;

    a {
      color: white;
      padding: 0 5px;
      text-decoration: unset;
    }

    a.active {
      font-weight: bold;
    }
  }

  .App-title {
    font-size: 1.5em;
  }

  .App-intro {
    font-size: large;
  }
}

.MainNavbar {
  min-height: $navbarHeight;
  margin-bottom: $marginBottomNavbar;
  .logo {
    height: 40px;
    padding-bottom: 4px;
  }
  .navbar-brand {
    padding: 4px 0 0 0;
  }
}

.mapboxgl-control-container {
  z-index: 10;
}
// --------------------
// Style for Home component
.Home {
  p {
    font-size: 1.2em;
  }
}

.Home {
  background-image: url("/noSky2.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  background-position-y: 50%;
  // width: 100;
}

.buttonWrapper {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.buttons {
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  padding: 50px;
  font-size: 40px;
  text-align: center;
}

.diveButton {
  margin-top: 125px;
  border-radius: 15px;
  border: 5px solid rgba(255, 255, 255, 0.5);
}

.surfButton {
  margin-top: 80px;
  border-radius: 15px;
  border: 5px solid rgba(21, 86, 98, 0.5);
  color: rgba(21, 86, 98, 0.5);
}

.surfButton:hover {
  color: #c7d6d7;
  background-color: rgb(21, 86, 98);
}

.diveButton:hover {
  color: #155662;
  background-color: rgba(255, 255, 255, 0.7);
}

.buttons:hover {
  // padding: 52px;
  // color: rgba(0, 0, 0, 0.5);
  border: 5px solid rgba(255, 255, 255, 0);
  text-decoration: none;
}

.Spots {
  margin-top: -$marginBottomNavbar;

  .row {
    height: calc(100vh - #{$navbarHeight});

    .col-text {
      padding: 20px;
      overflow-y: scroll;

      // h2 {
      //   // text-align: center;
      // }

      h4 {
        margin-top: 40px;
      }
    }

    .map {
      height: 100%;
      // margin-bottom: 150px;
      // height: calc(100vh - #{$navbarHeight});
    }
  }
}

// --------------------
// Style for Secret component
.Secret {
  .result {
    font-size: 1.2em;
    color: $primary;
  }
}

.list-group {
  max-height: 500px;
  margin-bottom: 10px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.tagBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tag {
  border-radius: 10px;
  background-color: $primary;
  margin: 10px 7px 10px 0px;
  padding: 5px 10px;
  color: white;
  font-size: 12px;
}

//trying to implement the side nav bar

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 3; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: rgba(255, 255, 255, 0.598); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(21, 86, 98);
  display: block;
  transition: 0.3s;
}

.nav-item {
  list-style: none;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: rgba(255, 255, 255, 1);
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

#openNavbar {
  position: absolute;

  right: 25px;
  // font-size: 36px;
  margin-left: 50px;
  color: rgb(21, 86, 98);
  // padding-top: 25px;
  font-size: 20px;
}

#openNavbar:hover {
  color: white;
}

.getHome {
  position: absolute;

  // left: 25px;
  // font-size: 36px;
  margin-left: 10px;
  // margin-bottom: 100px;
  color: rgb(21, 86, 98);
  // padding-top: 5px;
  font-size: 20px;
}

.getHome:hover {
  color: white;
}

#more {
  display: none;
}

// g {
//   fill: pink;
// }

.curWeather {
  // display: flex;
  // flex-direction: column;
  margin-top: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  // margin-top: 12%;
  align-content: center;
}

.radio {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar {
  background-image: url("/background.png");
}

.AddSpot {
  padding: 50px;
}

// .formContainer{
//   padding: 50px;
// }
.weatherForecast {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.weatherItems {
  width: 80px;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  text-align: center;
  color: rgb(21, 86, 98);
}

.formContainer {
  padding-top: 250px;
  padding-left: 150px;
}
// .formContainer2 {
//   padding-top: 250px;
//   padding-left: 250px;
// }

// h2 {
//   padding: 10px;
  
// }

body {
  background-image: url("/BACKGROUND6.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  background-position-y: 50%;
}

hr {
  background-color: rgba(255, 255, 255, 0.7);
}

.Weather {
  color: rgba(255, 255, 255, 0.7);
}
